@font-face {
    font-family: 'WebFont';
    src: url('/Fonts/VCR_OSD_MONO.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitleFont';
    src: url('/Fonts/KarmaFuture.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'WebFont'; /* Use MyCustomFont for the entire body */
    background-image: url('/Img/background.png');
    background-size:cover;
    background-repeat: no-repeat; 
    position: relative;
}

h1, h2 {
    font-family: 'TitleFont'; /* Use MyCustomFont for headings */
    font-size: 90px;
}

.PortfolioF{
    position: absolute;
    left: 33%;
    width: auto;
    height: auto;
    background-color: #f8c7f4;
    display: none;
}

#PortfolioTab{
    height: 600px;
}

#purpleT{
    position: absolute;
    top: 35%;
    left: 11%;
}
#blueT{
    position: absolute;
    top: 33.5%;
    left: 44.5%;
}
#greenT{
    position: absolute;
    top: 35%;
    left: 76%;
}

#PurpleFolder{
    position: absolute;
    width: 18%;
    margin-top: -68%;
    margin-left: -42%;
    cursor: pointer;
}

#BlueFolder{
    position: absolute;
    width: 18%;
    margin-top: -68%;
    margin-left: -9%;
    cursor: pointer;
}

#GreenFolder{
    position: absolute;
    width: 18%;
    margin-top: -68%;
    margin-left: 25%;
    cursor: pointer;
}

.window-close-btn1{
    position:absolute;
    margin-top: 10px;
    margin-left: -33px;
    height: 4%;
    border: 1px solid #000000;
    width: 3%;
    background-color: #f2a9db;

}
.window-min-btn1{
    position:absolute;
    margin-top: 10px;
    margin-left: -33px;
    height: 4%;
    border: 1px solid #000000;
    width: 3%;
    background-color: #f2a9db;

}

.DesktopIcons{
    /* padding-top: 50px; */
}

.BinIcon{
    position: absolute;
    top: 680px;
    width: 100px;
    height: 100px;
    left: 92%;
 
    background-color: #e7770000;
    cursor: pointer;
    /* display: none; */


}

#bin{
    width: 100%;

}

.GitHubIcon{
    position: absolute;
    top: 390px;
    width: 100px;
    height: 100px;
    left: 30px;
 
    background-color: #e7770000;
    cursor: pointer;
    /* display: none; */

}

#githubIcon{
    width: 100%
   
}

.DSFolder{
    position: absolute;
    top: 220px;
    width: 100px;
    height: 100px;
    left: 200px;
 
    background-color: #e7770000;
    cursor: pointer;
    /* display: none; */
    /* display: none; */

}

#danksole-desk{
    width: 100%;
}

.LinkedinIcon{
   

    position: absolute;
    top: 730px;
    width: 100px;
    height: 100px;
    left: 30px;
 
    background-color: #e7770000;
    cursor: pointer;
    /* display: none; */

}
#linkedIN{
    width: 100%;
}

.ItchIcon{
    position: absolute;
    top: 570px;
    width: 100px;
    height: 100px;
    left: 30px;
 
    background-color: #e7770000;
    cursor: pointer;
}

#itchIcon{
    width: 100%;
}


.AboutMeIcon{
    position: absolute;
    top:68px;
    width: 150px;
    height: 100px;
    /* left: 30px; */
 
    background-color: #e7770000;
    cursor: pointer;
}
 #aboutmeIcon{
    width: 100%;
}

.AboutMeIcon p{
    /* padding-left:40%; */
}

.AboutME{
    /* position: relative; */
    /* width: 600px ; */

    background-color: #df9dc2;
    margin-top: 2.5%;

    /* position: relative; */
    /* display: none; */
}

.MyInfo button{
    margin-top:1.3%;
    left: 96.3%;
    cursor: pointer;
    }


.Mypic{
    background-color: #ed009600;
    width: 500px;
    position: absolute;
    left: 39%;

}

#MyPic{
    width: 100%;
}

.window-close-Me{
    position: absolute;
    margin-top: 2.2%;
    cursor: pointer;
    margin-left: -5.5%;
    /* height: 4.4%; */

    border: 1px solid #000000;
    width: 4%;
    background-color: #f2a9db;
    font-size: 12px;
}

.Mynote{
    position: absolute;
    background-color: #e38ec400;
    width: 22%;
    left: 66%;
    margin-top: 8.8%;
}
.Mynote button{ position: absolute;
    margin-top:2.3%;
    cursor: pointer;
    /* margin-left: -5.5%; */
    /* height: 5%; */

    border: 1px solid #000000;
    /* width: 4%; */
    width: auto;
    background-color: #f2a9db;}

#MyNote{
    width: 100%;
}

.NOTE
{position: absolute;
    background-color: #e38ec400;
    width: 20%;
    left: 66%;
    top:60%;
   
}

#pinknote{
    width: 50%;
    
}

.MyEdu{
    position: absolute;
    background-color: #e38ec400;
    width: 21%;
    left: 17%;
    margin-top: 2.6%;
}

.MyEdu button{
    margin-top:2.58%;
    height: 5%;
}

#Myedu{
    width: 100%;
}

.MyInfo{
    position: absolute;
    background-color: #e38ec400;
    width: 30%;
    left: 36.6%;
    top: 303%;
}


.DesktopFolder{
    position: absolute;
    top: 220px;
    width: 100px;
    height: 100px;
    left: 30px;
 
    background-color: #e7770000;
    cursor: pointer;
    /* display: none; */
}

#game-folder-desk{
    width: 100%;
    cursor: pointer;
}
/* Custom styles for bottom navigation bar */
.bottom-nav {
    background-color:#82aecb;
    position: fixed;
    bottom: 0;
    width: 50px;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

/* Custom styles for button in bottom navigation */
.btn-bottom {
    float: left; /* Align button to the left */
}

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px; /* Adjust the height as needed */
    background-color: #82aecb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5); /* Shadow at the bottom */
}



/* BUTTON*/
.button-14 {
  background-image: linear-gradient(#ff78fd ,#f262ff);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #23c4c4;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

/*//////////////////////////////////////////////////////////////////////////*/
.clock {
    color: #000000; /* Text color */
    font-size: 14px; /* Font size */
    margin-left: auto;
    margin-right: 10px;
}
/*//////////////////////////////////////////////////////////////////////////*/
.popup-menu {
    display: none;
    position: absolute;
    top: 360px;
    left: 10px;
    width: 300px;
    height: 500px;

}

/* Styles for the title bar */
.popup-menu .title-bar {
    padding: 8px;
    background-color: #82aecb;
    color: #ffffff; /* White text */
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Styles for the popup content */
.popup-menu .content {
    padding: 10px;
    background-color: #ffebe4;/* Light grey background for content */
    height:437px;
}

.popup-image {
    width: 30%; /* Ensure the image fills the popup width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Optional border around the image */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

#minButton{
    height:auto;
    margin-left: 10px;
    width: auto;
    display: none;
}
#minButton1{
    height:auto;
    margin-left: 10px;
    width: auto;
    display: none;
}
#minButton2{
    height:auto;
    margin-left: 10px;
    width: auto;
    display: none;
}



/*//////////////////////////////////////////game folder/////////////////////////////////////////*/
#game-folder{
    width: 30%;
    cursor: pointer;
    

}

#gameButton{
    margin-top: 100px;
    margin-left: 300px;
    cursor: pointer;
    width: 30%;
    border: 3px solid #646464; /* Dark grey border */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    position: absolute;
    
}
#video-button{
    width: 10%;
    border-radius: 10px;
    margin-top: 70%;
    margin-left: 47%;
    cursor: pointer;
    position: absolute;
}

#DVideo{
    position: absolute;
    margin-left: 15%;
    margin-top: 12%;
}

#DaggerText{
    position: absolute  ;
    margin-top: 55%;
    margin-left: auto;
    color: #000000;
    font-size: 20px;

}
#DaggerText2{
    position: absolute  ;
    text-align: center;
    margin-top: 82%;
    margin-left: 43%;
    color: #000000;
    font-size: 20px;
}
#playDButton{
    position: absolute;
    margin-top: 80%;
    margin-left: 47%;
    cursor: pointer;
    width: 10%;
    /* background-color: #ffebe4;
    border: 1px solid #000000; */
   
}

#MinBtn{
    /* display: none; */
    position: absolute;
    margin-top: 12px;
    /* margin-left: 300px; */
    cursor: pointer;
    width: 30px;
    border: 1px solid #000000;
    width: 3%;
    height: 3.5%;
    background-color: #a9ccf2;
    margin-left: 87.36%;
    margin-top: 15px;
}

.folder-window-header{
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    width: 100%;
    background-color: #f99dc5;
    color: #fff;
    /* margin-left: -10.8px; */
    margin-top: 1px;
}
#Folder{
/* display: none; */
    /* position: absolute; */
    /* bottom: 40px; */
    /* left: 10px; */
    width: auto;
    height: auto;
    border: 1px solid #646464; /* Dark grey border */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    background-color: #000000;
    cursor :move;
    display: none;
    position: absolute;
    /* z-index: 1000; */
    pointer-events: auto; 
    left: 27%;
    top: 100px;
    /* margin-top: 500px; */

}

.draggable {
    /* position: absolute; */
    cursor: move; 
}
.Video-Window{
    width: auto;
    background-color: #ed009600;
}

.window-close-btn{
    cursor: pointer;
    position: absolute  ;
    margin-top: 15px;
    height: 3.5%;
    margin-left: 94.9%;
    border: 1px solid #000000;
    width: 3%;
    background-color: #f2a9db;
}


/*//////////////////////////////////////////game window//////////////////////////////////////////*/
.window-container{
    background-color: hsla(217, 14%, 41%, 0);
    border: 3px solid #646464;
    width: auto;
    height: auto;
    position: absolute;
    left: 25%;
    top: 100px;
    display: none; 
    /* z-index: 1000; */
    cursor: move;
        
}

#GameTab{
    /* width: 58%;
    /* height: 800px; */ 
    width:1000px ;
    height: 750px;
    /* height: 200px; */

}

#gameFrame{
    position: absolute;

    /* margin-right: 100%;
    margin-left: -46.7%;
    margin-top: -100%;
    width: 50%; */
    margin-left: -98%;
    margin-top: 5%;
}

.window-header {
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    width: 100%;
    background-color: #f99dc5;
    color: #fff;
    /* margin-left: -10.8px; */
    margin-top: 1px;
}



/*//////////////////////////////////////////DANKSOLES//////////////////////////////////////////*/
.DankSole{
    width: auto;
    height: auto;
    background-color: #00000000;
    cursor :move;
    display: none;
    position: absolute;
    /* z-index: 1000; */
    pointer-events: auto; 
    left: 27%;
    top: 100px;
}

.dank-header{
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    width: 100%;
    background-color: #f99dc5;
    color: #fff;
    /* margin-left: -10.8px; */
    margin-top: 1px;
}

#DankSolesVideo{
    position: absolute;
    margin-left: 15%;
    margin-top: 12%;
}

#DankSolesText{
    position: absolute  ;
    margin-top: 55%;
    margin-left: auto;
    color: #000000;
    font-size: 20px;
    left: 30px;
}

#DSButton{
    position: absolute;
    margin-top: 80%;
    margin-left: 42%;
    cursor: pointer;
    width: auto;
}

#PButton{
    position: absolute;
    margin-top: 80%;
    margin-left: 82%;
    cursor: pointer;
    width: auto;
}

.window-close-btn-DS{
    position: absolute;
    margin-top: 12px;
    cursor: pointer;
    margin-left:91.8%;
    height: 4.2%;

    border: 1px solid #000000;
    width: 3.5%;

    background-color: #f2a9db;
}


.DankSolePics{width: auto;
    height: auto;
    background-color: #00000000;
    cursor :move;
    display: none;
    position: absolute;
    /* z-index: 1000; */
    pointer-events: auto; 
    left: 50%;
    top: 100px;
}

.carousel{
    position: absolute;
    width: 85%;
    left: 7.5%;
    top: 20%;
}


/*/////////////////////////////////////////VR//////////////////////////////////////////*/
.VRpics{width: auto;
    height: auto;
    background-color: #00000000;
    cursor :move;
    display: none;
    position: absolute;
    /* z-index: 1000; */
    pointer-events: auto; 
    left: 30%;
    top: 100px;}

.VRpics h3{
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    color: #000000;
    font-size: 20px;

}

#carouselVRControls{
  width: 70%;
  left: 15%;
}

#VR-pics{}


.VR{
    width: auto;
    height: auto;
    background-color: #00000000;
    cursor :move;
    display: none;
    position: absolute;
    /* z-index: 1000; */
    pointer-events: auto; 
    left: 27%;
    top: 100px;
}



#VRButton{

    position: absolute;
    margin-top: 82%;
    margin-left: 10%;
    cursor: pointer;
    width: auto;
    }
#VRSButton{
    
    position: absolute;
    margin-top: 82%;
    margin-left: 65%;
    cursor: pointer;
    width: auto;
}

#VRMButton{
    
    position: absolute;
    margin-top: 82%;
    margin-left: 80%;
    cursor: pointer;
    width: auto;
}



.vr-header{
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    width: 100%;
    background-color: #f99dc5;
    color: #fff;
    /* margin-left: -10.8px; */
    margin-top: 1px;
}

#vrVideo{
    position: absolute;
    margin-left: 15%;
    margin-top: 12%;
}

#VRText{
    position: absolute;
    margin-top: 53%;
    margin-left: auto;
    color: #000000;
    font-size: 20px;
    left: 50px;
    right: 50px;
    font-size: 17px;
}


.VRmodels{
    width: auto;
    height: auto;
    background-color: #00000000;
    cursor :move;
    display: none;
    position: absolute;
    /* z-index: 1000; */
    pointer-events: auto; 
    left: 30%;
    top: 100px;
}

.VRmodels h3{
    position: absolute;
    margin-top: 12%;
    margin-left: 40%;
    color: #000000;
    font-size: 20px;

}

.VRmodels h4{
    position: absolute;
    /* margin-top: 1%; */
    margin-left: 17%;
    color: #000000;
    font-size: 17px;
    top: 80%;

}



