@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(Fonts/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
 
}

.title-text{
  position: absolute;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 display: flex;
 position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);

width: 30%;

}

#chrome-text {
  font-family: 'VT323';
  font-size: 80px;
  color:#f3bccf;
  text-shadow:
    1px 1px 0 #1a1919,
    -1px -1px 0 #1a1919,
    2px 2px 3px #070707,
    -2px -2px 3px #1b1a1b,
    0 0 10px #453e42;

   

}


body{
  font-family: 'VT323';
  
  /* background: radial-gradient(circle at top left, #ffd6f6, #b8a9f9, #eef1e2);
  background-size: 200% 200%;
  animation: shimmer 10s ease infinite;

  color: black; */
  background-image: url("Img/Screenshot 2025-04-12 222030.png");
}

/* Shimmery gradient animation */
/* @keyframes shimmer {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffffff80 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: 0;
  animation: sparkle 5s linear infinite;
} */

@keyframes sparkle {
  from { background-position: 0 0; }
  to { background-position: 40px 40px; }
}
  

button {
  font-size: 14px;
}


  .desktop-scene {
    position: absolute;
    z-index: 0;
    background-color: #cc77b9;
    


  }

  .desktop-cat {
    position: absolute;
    top: 11rem;
    left: 40rem;
    transform: scale(0.5);
    width: 40rem;
    z-index: 0; 
    cursor: pointer;
  }

  .desktop-cat:hover{
    transform: scale(0.55);
  }

  .desktop-cat-drink {
    position: absolute;
    top: 0rem;
    left:36rem;
    transform: scale(0.12);
    width: 40rem;
    z-index: 3; 
    cursor: pointer;

  }

  .desktop-cat-laptop {
    position: absolute;
    top:25rem;
    left: 45rem;
    transform: scale(0.5);
    width: 40rem;
    z-index: 2; 
    cursor: pointer;

  }

  .cat-bubble{
    position: fixed;
    top: 35%;
    left: 63%;
    transform: translate(-50%, -50%);
    width: 20vh;
    z-index: 0; 
    cursor: pointer;
    display: none;
  }

  .cat-bubble-text{
    position: absolute;
    top: 20rem;
    left:79rem;
    transform: translate(-50%, -50%);
    width: 20vh;
    z-index: 0; 
    cursor: pointer;
    align-items: center;
    font-size: 30px;
    display: none;

  }

  /* .desktop-cat:hover{
    display: none;
    content: url("Img/biggercat.png");

  } */

  .sticky-note{
    position: absolute;
    top: 5rem;
    left: 80%;

    width: 15rem;
    z-index: 0; 
    cursor: pointer;
   
  }
  .sticky-note:hover{
    transform: scale(1.1);
    cursor: move;
  }


/* DESKTOP ICONS */
.desktop-icons {
/* transform: scale(0.5);
transform-origin: top; */
position: absolute;
top:10%;

}
/* LINKEDIN ICON */
.linkedin-icon {
    position: absolute;
    top: 0.2rem;
    left: 2rem;
    width: 5rem;
    text-align: center;  
}
.linkedin-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-bottom: 0.4rem;
}

.linkedin-icon:hover .linkedin-img {
    
  transform: scale(1.2);
  }

/* GITHUB ICON */
.github-icon {
    position: absolute;
    top: 11.33rem;
    left: 2rem;
    width: 5rem;
    text-align: center;

}
.github-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.github-icon img:hover  {

    transform: scale(1.2);
}
/* ITCH.IO ICON */
.itchio-icon {
    position: absolute;
    top: 22.9rem;
    left: 2rem;
    width: 5rem;
    text-align: center;
  
}
.itchio-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.itchio-icon:hover .itchio-img {

  transform: scale(1.2);
  }
/* ABOUTME ICON */
.aboutme-icon {
    position: absolute;
    top: 35.8rem;
    left: 10rem;
    width: 5.625rem;
    text-align: center;
}
.aboutme-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.aboutme-icon:hover .folder-img {
  transform: scale(1.2);
  }

/* FOLDER ICONS */
.game-folder-icon {
    position: absolute;
    top: 1rem;
    left: 10rem;
    width: 5.625rem;
    text-align: center;
}
.game-folder-icon:hover .folder-img {
  transform: scale(1.2);
    /* width: 11vh; */

  }

.game-folder-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.project-folder-icon {
    position: absolute;
    top: 12.3rem;
    left: 10rem;
    width: 5.625rem;
    text-align: center;
}
.project-folder-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.project-folder-icon:hover .folder-img {
  transform: scale(1.2);
  }

.art-folder-icon {
    position: absolute;
    top: 23.9rem;
    left: 10rem;
    width: 5.625rem;
    text-align: center;
}
.art-folder-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.art-folder-icon:hover .folder-img {
  transform: scale(1.2);
  }

/* CV ICON */
.cv-icon {
    position: absolute;
    top: 34.65rem;
    left: 2rem;
    width: 5rem;
    text-align: center;
 
}
.cv-icon img {
    width: 90%;
    height: auto;
    cursor: pointer;
    padding-bottom: 0.5rem;
}

.cv-icon:hover .cv-img {

  transform: scale(1.2);
  }

/* TASKBAR */
.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background: #f3bccf; /* pastel pink */
   
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: inset -1px -2px 0px #6b6a6a50, inset 2px 2px  0px   #ded5cd67; 
    z-index: 999;
  }

  #taskbar-time {
    color: black;
    padding: 2px 6px;
    margin-left: auto;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #808080;
  }

   #start-button {
    
    width: 10vh;
    height: 3vh;
    margin-right: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#start-button:hover{
    background-color: #de879a;
}
#taskbar-icons {
    display: flex;
    right: 20%;
    gap: 1.5vh;
  }
  
  #taskbar-icons img {
    height: 5vh;
    width: 3vh;
    object-fit: contain;
    cursor: pointer;
  }


.desktop-window{
    position: absolute;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    cursor: default;
    background: #ded5cd; 
    height: 40rem;
  width: 50rem;
  background: #ded5cd; 
    color: #050505;
  font-size: 10px;
  /* width: 100%; */
  box-shadow: inset -3px -3px 0px  #6b6a6a50, inset 3px 3px 0px #fcfbfb38;
  }
    
/* .window-body{
  height: 40rem;
  width: 50rem;
  background: #ded5cd; 
    color: #3b0066;
  font-size: 14px;

  box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 0 0px #fcfbfb38;

  } */
  
  
.window-header {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem 0 0.5rem; 
  cursor: move;
  z-index: 0; 
  background: #f3bccf; /* pastel pink */
    color: #0e0d0d;
    top: 0.25rem;
    left: 0.25rem;
  font-size: 25px;


  /* padding-left: rem; */
  padding-right: 0.5rem;
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
  box-shadow: inset -1px -2px 0px #6b6a6a50, inset 1px 1px  0px   #ded5cd; 
  /* inset -4px 0 4px rgba(0, 0, 0, 0.05),
  inset 4px 0 4px rgba(0, 0, 0, 0.05),
  inset 0 -4px 4px rgba(0, 0, 0, 0.05); */
}


.window-buttons button {
  background: #d4ccc5;
  margin-left: 0.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: none;

 


  box-shadow:
  -1px -1px 0 #e6e0f5,
   1px 1px 0 #6a5d88;
}

.window-buttons button:active {
  box-shadow:
    inset -1px -1px 0 #6b6a6a,   
    inset 1px 1px 0 #ffffff;    
   
}


  .window-buttons {

    display: flex;
   left: 43.5rem;
    align-items: center;


  
  }



  #minimize-button:hover, #return-button:hover, #restore-button:hover, #close-button:hover, #return-button-project:hover {
    background: #f4acc5; /* pastel pink */
  }
  
  #return-button, #return-button-project {
    display: none;
  }

  #game-folder-window, #project-folder-window, #art-folder-window, #aboutme-folder-window{

    display: none;
  }


  
  
  .game-window-content {
    position: absolute;
    
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 4rem;

   
  }
  
  .game-card {
    width: 20vh;
    height: auto;
    text-align: center;
    transform: scale(1.2);
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .game-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .game-card:hover {
    transform: scale(1.3);
  }
  

  .daggermeister-video{
    position: absolute;
    /* top: 4.5rem;
    left: 13.5%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    width: 73%;

    box-sizing: border-box;
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    
    background-color: #ffffff00;
    box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;

  }

  .daggermeister-game{
    position: absolute;
    left: -10%;
    top: -1vh;
    transform: scale(0.7);
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;

    box-sizing: border-box;
   
    padding-left: 1rem;
    padding-right: 1rem;


    background-color: #ffffff00;
    box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;


  }


  .ripped-note{
    position: absolute;
    top: -9rem;
    left: -10rem;
    cursor:all-scroll;
    z-index: 5;
  
  }
  .play-button {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    color: #3b0066;
    background: linear-gradient(to bottom, #ffd6f6, #fbb0d8);
    border: 2px solid #d1c2ff;
    border-radius: 12px;
    padding: 8px 24px;
    cursor: pointer;
    box-shadow:
      inset -1px -1px 1px #fff,
      inset 1px 1px 2px #cc77b9,
      0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    text-shadow: 1px 1px #fff;
    margin-top: 0rem;
  }  
  .play-button:hover {
    background: linear-gradient(to bottom, #ffc1e6, #f79fcb);
  } 
  .play-button:active {
    transform: translateY(1px);
    box-shadow:
      inset 2px 2px 3px #cc77b9,
      inset -1px -1px 1px #fff;
  }

  
  .danksole-video{
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    width: 73%;

    box-sizing: border-box;
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #ffffff00;
    box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;


   

    

  }


  .haunted-video{
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    width: 73%;

    

    box-sizing: border-box;
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #ffffff00;
    box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;

  }




  .aboutme-window-content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5rem;

    
  }
  
  .aboutme-card {
    /* width: 20vh; */
    height: auto;
    text-align: center;

    cursor: pointer;
  }
  
  /* .aboutme-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  } */
  
  .aboutme-card:hover {
    transform: scale(1.1);
  }
  
  .aboutme-card img {

    border-radius: 4px;

  }


  .art-window{
    position: absolute;

    left: -5vh;
    top: -5vh;
    transform: scale(0.7);
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .project-window-content{

    display: flex;
    flex-direction: column; /* stack vertically */
    gap: 1rem;

    position: absolute;
    top: 5%;
    left: 2%;
    width: 98%;
    height: 93%;
    background-color: rgba(0, 255, 255, 0);

    
  }
  .scroll-wrapper {
    width: 12rem;
    background-color: brown;
    /* height: calc(100% - 2rem); */
    overflow-y: scroll;
    /* Firefox scrollbar styling */
  scrollbar-width: thick; /* "auto", "thin", or "none" */
  scrollbar-color: #efb3ff #fbe9f9; /* thumb color then track color */

 

  }
  
  .project-window-content {
    overflow-x: hidden;
  }
  


.threejs-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 4rem;
  display: none;

}


.barrel-threejs:hover{
 transform: scale(1.1);
  cursor: pointer;
}
.vr-threejs:hover{
  transform: scale(1.1);
   cursor: pointer;
 }

.hyena-threejs:hover {
  transform: scale(1.1);
}

.hyena-build{
  display: none;
}
.barrel-build{
  display: none;
}
.vr-build{
 z-index: 10;
}

.project-section {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;

}

.section-label {
  font-family: 'VT323';
  font-size: 1.2rem;
  color: #3b0066;

}

.section-divider {
  border: none;
  border-top: 2px solid #3b0066;
  width: 80%;
  margin-bottom: 0.2rem;
  top: -1rem;
  position: relative;
}

.file-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 10rem;

}
.file-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align:left;
  font-size: 0.9rem;
  color: #3b0066;
  cursor: pointer;

  padding-left: 0.5rem;


}




.file-item img {
  width: 2.7rem;
  height: 55px;
  margin-bottom: 0.3rem;
  object-fit: contain;
}


.file-item img:hover {
  transform: scale(1.2);

}

.ttc-video{
  background-color: aquamarine;
  position: absolute;
  left: 13%;
  top: 2%;

  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 display: none;
  width: 75%;
  transform: scale(0.9);

  

  box-sizing: border-box;
 
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #ffffff00;
    box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;

}

.sponge-video{

  position: absolute;
  left: 13%;
  top: 10%;

  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 display: none;
  width: 75%;
 box-sizing: border-box;
 
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #ffffff00;
    box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;
}

.sus-video{
  position: absolute;
  left: 13%;
  top: 10%;

  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 display: none;
  width: 75%;
 box-sizing: border-box;
  
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #ffffff00;
  box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;
}

.stressbgone{
  position: absolute;
  left: 13%;
  top: 20%;

  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 display: none;
  width: 75%;
 box-sizing: border-box;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #ffffff00;
  box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;
}
.stressbgone-img{
  width: 90%;

  border-radius: 4px;
  top: 5rem;

padding-bottom: 1rem;
}

.stressbgone-h2{
  /* position: absolute; */
  top:1.5rem;

}

.strssbgone-text{
  padding-bottom: 2rem;
}

.notice-window-body{
  position: absolute;
  font-size: 20px;
  top: 5rem;
  left: 2rem;

}

#construction-tab{
  width: 22%;
  height:20%;
  position: absolute;
  top: 15%;
  left: 87%;
}
#construction-tab-header{
  width: 98.5%;
}

#me-tab{
  width: 28.7%;
  height: 60%;
  position: absolute;
  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#me-tab-header{
  width: 98.5%;
}

.me-window-body{
  position: absolute;
  width: auto;
  font-size: 20px;
  top:3rem;
  left: 0.8rem;
}

.me-img{
  /* top: -28rem;
  left: -39rem;
  position: absolute; */
  width:99%;
  /* margin-bottom: 10rem; */

  padding-bottom: 1rem;



  box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38;

}

.me-window-body p{
  margin-bottom: 0.2rem;
  cursor: pointer;
}

#aboutme-tab{
  width: 28.7%;
  height: 56%;
  position: absolute;
  left: 80%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#aboutme-tab-header{
  width: 98.5%;
}

.aboutme-window-body{
  position: absolute;
  width: auto;
  font-size: 20px;
  top:3rem;
  left: 0.8rem;
}

.aboutme-img{
  /* top: -28rem;
  left: -39rem;
  position: absolute; */
  width:98%;
  /* padding-right: 0.3rem; */
  /* margin-bottom: 10rem; */

  /* padding-bottom: 1rem;
*/
padding-top: 0.5rem;




  box-shadow: inset -2px -2px 0px  #6b6a6a50, inset 2px 2px 0px #fcfbfb38; 

}

.aboutme-window-body p{
  margin-bottom: 0.1rem;
  cursor: pointer;
}
.aboutme-h{
  position: absolute;
  top: 8rem;
  left: 13rem ;
}

.aboutme-text{
  width: 70%;
  position: absolute;
  top: 11rem;
  left: 5rem ;
}